* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D3B66;
    background-size: cover;
    color: #F4D35E;
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

h1 {
    font-size: 3rem;
}

.search {
    border: solid #28AFB0 3px;
    padding: 4.5px;
    border-radius: 5px;
    background-color: #FAF0CA;
    margin: 20px 10px 0 0;
}

#button-addon3 {
    margin: 20px 0 0 0;
    border: solid #28AFB0 3px;
    border-radius: 5px;
    padding: 5px;
}

main {
    background-color: #FAF0CA;
    height: 620px;
    padding-top: 5%;
}

.movie-card {
    color: #1F271B;
    display: flex;
    flex-direction: column;
    border: solid 3px #F95738;
    border-radius: 5px;
    width: 96%;
    justify-content: center;
    margin-left: 2%;
}

.movie-title {
    border: solid 1px black;
    text-align: center;
}

.content {
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
}

.movie-img {
    border: solid 1px black;
    width: 55%;
    height: 55%;
}

.movie-info {
    border: solid 1px black;
    width: 35%;
}

.review-card {
    color: #1F271B;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4D35E;
    border: solid 3px #28AFB0;
    border-radius: 5px;
    width: 17%;
    margin-top: 50px;
    min-height: 150px;
}

h2 {
    background-color: #F95738;
    color: #1F271B;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #0D3B66;
    background-size: cover;
    color: #F4D35E;
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.names {
    display: flex;
    justify-content: center;
}

h3 {
    border-radius: 10px;
    border: 3px solid #28AFB0;
    color: #19647E;
    font-size: 1.2rem;
    width: 30%;
    background-color: #EE964B;
    padding-top: 5px;
    border-bottom: 5px solid #F4D35E;
}

.team-names {
    margin-top: 10px;
    font-size: 1.1rem;
    background-color: #0D3B66;
}